@using ActivityCheck.Domain.Entity;
@model IEnumerable<Activity>;

    @foreach(var activity in Model){
        <div>
            <h3>@activity.Name</h3>
            <ul>
                <li><p>@activity.Description</p></li>
                <li><p>@activity.Created</p></li>
                <li><p>@activity.DurationInSec</p></li>
            </ul>
        </div>
    }