<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ActivityCheck</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ActivityCheck.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LayoutElements.css" asp-append-version="true"/>
</head>
<body>
    <header>
        <div class="layout-container">
            <nav class="layout-header">
                <h1 class="layout-text">
                    <span class="layout-text1">ActivityCheck</span>
                    <br class="layout-text2" />
                </h1>
                @if (!User.Identity.IsAuthenticated)
                {
                    <nav id="Buttons" class="authorize-buttons-authorize-buttons">
                        <button type="button" class="authorize-buttons-reg-button button">
                            Регистрация
                        </button>
                        <button type="button" class="authorize-buttons-reg-button button">
                            Вход
                        </button>
                    </nav>
                }
            </nav>
        </div>
    </header>

        <main role="main" class="layout-main">
            @RenderBody()
        </main>

    <footer class="layout-footer">
        <p>Тут копирайтыыыыы</p>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
