@{
    ViewData["Title"] = "Home Page";
}

<div>
    <link href="~/css/TitlePage/TitlePage.css" rel="stylesheet" />
    <div class="title-page-container">
        <div class="title-page-container1">
            <h1>Добро пожаловать на сайт ActivityCheck</h1>
            <span>
                Данный сайт призван помогать собирать и структуризировать информацию о
                вашем распорядке дня
            </span>
        </div>
        <div class="title-page-container2">
            <div class="title-page-container3">
                <span class="title-page-text2">
                    <span>
                        Во первых вы с легкостью сможете отслеживать ваш распорядок дня.
                    </span>
                    <br />
                    <span>
                        А самое главное сможете поднять свою продуктивность и уменьшить
                        время проводимое впустую
                    </span>
                </span>
            </div>
            <div class="title-page-container4">
                <a href="https://example.com" target="_blank" rel="noreferrer noopener">
                    <span>Полезные ресурсы</span>
                    <br />
                    <span>по увеличению продуктивности</span>
                </a>
            </div>
        </div>
    </div>
</div>
